{% extends 'template/login.twig' %}


{% block title %}

<title>Login SED</title>
{% endblock %}

{% block content %}

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900">Les Zèbres SED</h1>
                                        <h6 class="text-gray-900">Syndrome d'Ehler Danlos</h6>
                                    </div>
                                    {% if error == 1 %}
                                        <div class="alert alert-danger" role="alert">
                                            Erreur: veuillez réessayer
                                        </div>
                                    {% endif %}
                                    <bR>
                                    <form class="user" action="php/login.php" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address..." name="mail">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="exampleInputPassword" placeholder="Password" name="password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                            <input type="submit" name="submit_login" class="btn btn-primary btn-user btn-block" value="Login">
                                        </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.twig">Mot de passe oublié?</a>
                                        <p>Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Vous avez le droit de supprimer vos données. Si vous le souhaitez contacté nos équipes par mail et sur <i class="fab fa-facebook mr-2"></i> ou via votre profil</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}