<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php?p=admin" style="text-transform: none;">

            <img src="image/logo.png" width="50px" alt="" />
        <H6 style="margin-top: 10px;">Les Zèbres SED</H6>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.php?p=admin">
            <i class="fa fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        PATIENTS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" href="index.php?p=patient">
            <i class="fa fa-users"></i>
            <span>Gérer les patients</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="index.php?p=entretiens">
            <i class="fa fa-calendar"></i>
            <span>Entretiens</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        PRATICIENS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" href="index.php?p=patients_users">
            <i class="fa fa-stethoscope"></i>
            <span>Gérer les praticiens</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        ADMINISTRATEURS
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="index.php?p=admins_users">
            <i class="fa fa-user-shield"></i>
            <span>Gérer les admins</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="index.php?p=communication">
            <i class="fa fa-bullhorn"></i>
            <span>Communication</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <i class="fa fa-comments sidebar-card-illustration mb-2"></i>
        <p class="text-center mb-2">Vous souhaitez nous <strong>contacter</strong> ?</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Contact</a>
    </div>

</ul>
<!-- End of Sidebar -->